.Section {
  display: flex;
  flex-direction: column;
}

.Section h2,
h3 {
  font-weight: 400;
}

#input {
  margin-bottom: 8px;
}

#input input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 32px;
  padding-left: 8px;
  outline: none;
}
